@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    color-scheme: dark;
    width: 100%;
    min-width: 380px;
    height: 100%;
    min-height: -webkit-fill-available;
    margin: 0;
}

body {
    background-color: black;
    overscroll-behavior-y: contain;
    -webkit-tap-highlight-color: transparent;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
    outline: none;
    user-select: none;
}

input[type="password"] {
    font-family: Verdana;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}