@import "tailwindcss";

@layer base {
    :root {
        --radius: 0.5rem
    }
}

html,
body {
    color-scheme: dark;
    width: 100%;
    min-width: 380px;
    height: 100%;
    min-height: -webkit-fill-available;
    margin: 0;
    background-color: black;
    scrollbar-gutter: stable;
}

body {
    overscroll-behavior-y: contain;
    -webkit-tap-highlight-color: transparent;
}

img {
    -webkit-user-select: none;
    /* biome-ignore lint/correctness/noUnknownProperty: ... */
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-user-drag: none;
    /* biome-ignore lint/correctness/noUnknownProperty: ... */
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -ms-user-drag: none;
}

* {
    font-weight: 300;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-lg;
}

h5 {
    @apply text-base;
}

h6 {
    @apply text-sm;
}

p {
    @apply text-base;
}